@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
    --green-logo: #28a745;
    --main-white: #ffffff;
    --hero-white: #e9e9e9;
    --black-color-text: #333333;
    --main-bg-color: #f4f4f4;
    --btn-second-bg-color: #28a745;
    --blue-bg-color: #0284d0;
    --footer-bg-color: #333333;
    --background-color-modal: rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--main-bg-color);
    color: var(--black-color-text);

    font-weight: 400;

    font-family: 'Open Sans', sans-serif;
}

body.modal-open {
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1360px;
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}