.features {
  padding-top: 40px;
  padding-bottom: 19px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  gap: 71px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-features-icon {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  color: var(--main-white);
  background-color: var(--green-logo);
}

.features-icon {
  fill: currentColor;
}

.features-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-transform: capitalize;
}

.features-text {
  width: 362px;

  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}
