.footer {
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 16px;
}

.container {}

.footer__list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 10px;
}

.footer__item {}

.footer__link {}

.footer__icon {
    fill: #FFFFFF;
    transition: fill 250ms linear;

    &:hover,
    &:focus {
        fill: #28A745
    }
}

.footer__text {

    font-family: 'Open Sans';
    font-size: 18px;
    line-height: calc(28/18);
    text-align: center;
    color: #FFFFFF;
}