<section class="blog">
    <div class="container blog-container">
      <div class="text-block">
        <p class="time text-white">April 16 2020</p>
        <h2 class="title title-blog">Blog post one</h2>
        <p class="description-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
          quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores
          itaque rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button type="button" class="button">Read our blog</button>
      </div>
      <div class="img-block">
        <img src="./images/cup.jpg" alt="Opened notebook, pensil, cup of coffee" width="680" />
      </div>
    </div>
  </section>
