<section class="callback">
    <div class="container callback-container">
      <img src="./images/callback.jpg" alt="Man uses callback" width="680" />
      <div class="callback-form">
        <h2 class="title-second">Request Callback</h2>
        <form>
          <div class="form-group">
            <label class="form-label-name">
              <input type="text" class="form-input" placeholder="Enter your name" />
            </label>
            <label class="form-label-email">
              <input type="email" class="form-input" placeholder="Enter email*" />
            </label>
            <button type="button" class="button-request">Send</button>
          </div>
        </form>
      </div>
    </div>
  </section>