<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="">
                    <svg class="footer__icon" width="35" height="35">
                        <use href="./images/symbol-defs.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="">
                    <svg class="footer__icon" width="35" height="35">
                        <use href="./images/symbol-defs.svg#icon-twiter">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="">
                    <svg class="footer__icon" width="40" height="35">
                        <use href="./images/symbol-defs.svg#icon-youtube">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="">
                    <svg class="footer__icon" width="31" height="35">
                        <use href="./images/symbol-defs.svg#icon-linkedin">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__text">
            Copyright &copy; 2021 - FinanceLedger
        </p>

    </div>
</footer>