<section class="hero">
  <header class="page-header">
    <div class="container">
      <nav class="main-nav">
        <div class="logo-nav">
          <a href="./index.html" class="logo-nav__link">
            <svg class="logo-nav__logo-img" width="39" height="31">
              <use
                href="./images/symbol-defs.svg#icon-fa-solid_book-open"
              ></use>
            </svg>
            <span class="logo-first-words">Finance</span>Ledger
          </a>
        </div>

        <div class="site-nav">
          <ul class="site-nav__list">
            <li><a href="./index.html" class="site-nav__link">Home</a></li>
            <li><a href="" class="site-nav__link">About</a></li>
            <li><a href="" class="site-nav__link">Cases</a></li>
            <li><a href="" class="site-nav__link">Blog</a></li>
            <li><a href="" class="site-nav__link">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <h1 class="hero-title">The sky is the limit</h1>
    <p class="hero-prg">We provide world class financial assistance</p>
    <button type="button" class="hero-button" data-modal-open>
      <svg class="hero-icon" width="9" height="18">
        <use href="./images/symbol-defs.svg#icon-fa-solid_angle-right"></use>
      </svg>
      Read more
    </button>
  </div>
</section>
