<section class="team">
  <div class="container">
    <p class="team__prg">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__prg-two">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team-list">
      <li class="team-list__item">
        <div class="team-list__box">
          <img
            scrset="./images/tm-1.jpg 1x, ./images/tm-1@2x.jpg 2x"
            class="team-list__img"
            src="./images/tm-1.jpg"
            alt="photo of a man in a suit"
            width="100%"
          />
          <ul class="team-list__social-svg">
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-twiter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__title">John Doe</h3>
        <p class="team-list__prg">President</p>
      </li>

      <li class="team-list__item">
        <div class="team-list__box">
          <img
            scrset="./images/tm-1.jpg 1x, ./images/tm-1@2x.jpg 2x"
            src="./images/tm-2.jpg"
            class="team-list__img team-list__img--different-margin"
            alt="photo of a woman in the office"
            width="100%"
          />
          <ul class="team-list__social-svg">
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-twiter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__title">Jane Doe</h3>
        <p class="team-list__prg">Vice President</p>
      </li>

      <li class="team-list__item">
        <div class="team-list__box">
          <img
            scrset="./images/tm-1.jpg 1x, ./images/tm-1@2x.jpg 2x"
            class="team-list__img"
            src="./images/tm-3.jpg"
            alt="a man drinks coffee while working on a laptop"
            width="100%"
          />
          <ul class="team-list__social-svg">
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-twiter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#"
                ><svg class="team-svg" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__title">Steve Smith</h3>
        <p class="team-list__prg">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
